<header class="site-header">
    <nav class='navbar-static-top navbar-default' role='navigation' style='background: rgba(255, 255, 255, 0.80)'>
      <div class='container'>
        <div class='navbar-header'>
          <a class='navbar-brand' href='/' style='padding: 5px 5px 5px 5px;'>
            <img alt='Health2Wealth' src='/img/h2w-header.png' style='height: 40px;' title='Health2Wealth'>
          </a>
        </div>
        <button class='btn btn-primary navbar-btn navbar-right' onclick='window.location.href="/register"' style='margin-left: 15px;' type='button'>Sign Up Free</button>
        <div class='navbar-right'>
          <ul class='nav navbar-nav'>
            <li>
              <a href='/tour'>Tour</a>
            </li>
            <li>
              <a href='/pricing'>Pricing</a>
            </li>
            <li>
              <button class='btn btn-default navbar-btn navbar-right' onclick='window.location.href="/signin"' style='margin-left: 15px;' type='button'>Sign In</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <hr style='margin: 0px; border: 0px;'>
</header>
