<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <title>Health2Wealth, by SEP Labs</title>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='SEP Health2Wealth' name='description'>
    <meta content='Jon Fuller &lt;jon@sep.com&gt;' name='author'>
    <meta content='Todd Trimble &lt;trimble@sep.com&gt;' name='author'>
    <link href='https://h2w.cc/img/favicon.png' rel='fav icon' type='image/png'>
    <script src='//code.jquery.com/jquery.js'></script>
    <script src='https://h2w.cc/js/health2wealth.js'></script>
    <link href='https://h2w.cc/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://h2w.cc/scss/health2wealth.css' rel='stylesheet'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>  <![endif]-->
    <script src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
    <script src='//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>
    <script src='//code.highcharts.com/3.0/highcharts.js'></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src='https://h2w.cc/js/bootstrap.min.js'></script>
</head>
